<section class="hero">
  <div class="hero__content">

    <h1>
      Brighten Your Future <br>
      <span>with AI Guidance!</span>
    </h1>

    <div class="hero__buttons">
      <button class="btn btn-outline" (click)="onSelectTool('career-guidance')">Full Career Roadmap</button>
      <button class="btn btn-outline" (click)="onSelectTool('study-recommend')">What to Learn Next</button>
      <button class="btn btn-primary" (click)="onSelectTool('project-ideas')">Get Project Ideas</button>
    </div>

  </div>

  <div class="hero__visual">
    <div class="orbit orbit-1">
      <img ngSrc="assets/Kidslearn.png" width="100" height="100" priority />
    </div>
    <div class="orbit orbit-2">
      <img ngSrc="assets/laptop.png" width="100" height="100" priority />
    </div>
    <div class="orbit orbit-3">
      <img ngSrc="assets/Ai.png" width="100" height="100" priority />
    </div>


    <img class="robot" ngSrc="assets/mainlogo.png" width="380" height="380" alt="AI Robot" priority>
  </div>
</section>