<section class="hero">
  <div class="hero__content">

    <h1>
      Brighten Your Future <br>
      <span>with AI Guidance!</span>
    </h1>

    <div class="hero__buttons">
      <button class="btn btn-outline">Full Career Roadmap</button>
      <button class="btn btn-outline">What to Learn Next</button>
      <button class="btn btn-primary">Get Project Ideas</button>
    </div>

  </div>

  <div class="hero__visual">
    <div class="orbit orbit-1">
      <img src="assets/Kidslearn.png" />
    </div>
    <div class="orbit orbit-2">
      <img src="assets/laptop.png" />
    </div>
    <div class="orbit orbit-3">
      <img src="assets/Ai.png" />
    </div>


    <img class="robot" src="assets/mainlogo.png" alt="AI Robot">
  </div>
</section>